{% extends 'base.html'%}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Mijozlar</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/logout/">Logout</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


          <!-- Modal Header -->

          <!-- Modal body -->
          <form method="post" id="edit-product-form" >
              <label for="new-product-name">FIO:</label>
              <input type="text" name="name" value="{{customer.name}}" id="new-product-name" class="form-control" required>
                <br>
              <label for="new-product-shop_name">Do'kon nomi:</label>
              <input type="text" name="shop_name" value="{{customer.shop_name}}" id="new-product-shop_name" class="form-control" required>
              <br>
              <label for="new-product-phone_number">Telefon raqami:</label>
              <input type="number" name="phone_number" placeholder="Telefon raqami..." id="new-product-phone_number" class="form-control" required>
              <br>
              <label for="new-product-address">Manzili:</label>
              <input type="text" name="address" placeholder="Mijoz manzili..." id="new-product-address" class="form-control" required>
              <br>
              <label for="new-product-debt">Qarzi: (so'm)</label>
              <input type="number" name="debt" placeholder="Mijozning qarzi" id="new-product-debt" class="form-control" >
              <br>
              <label for="new-product-brand">Brandi:</label>
              <input type="text" name="brand" placeholder="Mahsulotining brendi" id="new-product-brand" class="form-control" required>
              <br>

          <!-- Modal footer -->
            <button type="submit" class="btn btn-success">Yangilash</button>
              <a href="/clients/">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
              </a>

      </form>
      </div>
    </div>



{%endblock%}